{% extends 'blog/index.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h4 class="text-white my-5" style="font-family: 'Pacifico', cursive; height:100; width: 30; text-align: center; background-color:rgb(98,20,8);"> <b>All blogs for you..</b> </h4>
    {% for post in posts %}
        <div class ="jumbotron jumbotron-fluid jumbo-color">
            <div class="container">
                <h6 class="display-4">{{post.title}}</h6>
                <h6 class="display-4">{{post.author}}</h6>
                <p class="lead"> {{post.desc}}</p>
            </div>
        </div> 
    {% endfor %}
</div>
{% endblock content %}



