{% extends 'blog/index.html' %}
{% load static %}
{% block content %}

<div>
    <img class= "img1" src="{% static 'blog/image/cov-img-1.jpg'%}" height ="470" width= "1260" align="center" alt="Sorry! image not found."/>
    <div style="background-color: rgb(88,4,4); height: 350; width:200; align: center;">
        
    </div>
</div>
<div class="div3">
    <div class="left">
        <img class="left-photo" src="{% static 'blog/image/left-photo1.jpg'%}" align ="left" height ="370" width=" 634" alt="Sorry! image not found.">
        <div>
            <h2 align= "center"></br></br><b>Write your words </b></h2></br>
            <p align= "center"><b>Words have the power to explore your latent talent. So, write and save your words so that the world can save you. Writing makes our thinking and learning visible and permanent and writing fosters our ability to explain and define our ideas to others and ourselves. So, why are you waiting for?? Make your own identity by your words and writing.</b></p>
        </div>
    </div>
</div>
<div>
    <div>
        <img class="left-photo" src="{% static 'blog/image/Book2.jpg'%}"align ="right" height ="370" width=" 665">
        <h2 align= "center" font-family="Tahoma"></br></br><b>Share your experience and knowledge</b></h2></br>
        <p align ="center"><b>There is no knowledge without learning and no wisdom without experience. Knowledge gives the path of explore where experience brings the door of success. Our ability to achive success depends on the strength of our wings gained through knowledge and experience. The greater our knowledge and experience, the higher one can fly.</b></p>
    </div>
<div></br></br></br></br></br>

<div style="height: 200; width: 370; background-color: gray; padding:5px;">
    <h3 style="text-align: center; font-size: 30px;">About Us</h3>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div style="background-color: rgb(173, 172, 172); margin:10px; width: 20%; height: 200px; text-align: center">
            <img style="width: 120px; height: 120px; border-radius:50%;" src="{% static 'blog/image/shammi-2.png'%}">
            <h5>Shammi Akter</h5>
            <p>shammi15-12095@diu.edu.bd</p>
        </div>
        <div style="background-color: rgb(173, 172, 172); margin:10px; width: 20%; height: 200px; text-align: center">
            <img style="width: 120px; height: 120px; border-radius:50%;" src="{% static 'blog/image/Preya-1.png'%}">
            <h5 >Syeda Jebin</h5>
            <p>syeda15-12857@diu.edu.bd</p>
        </div>
        <div style="background-color: rgb(173, 172, 172); margin:10px; width: 20%; height: 200px; text-align: center">
            <img style="width: 120px; height: 120px; border-radius:50%;" src="{% static 'blog/image/Abid-1.png'%}">
            <h5>Mirza Istiakh</h5>
            <p>mirza15-9603@diu.edu.bd</p>
        </div>
        <div style="background-color: rgb(173, 172, 172); margin:10px; width: 20%; height: 200px; text-align: center">
            <img style=" align: center; width: 120px; height: 120px; border-radius:50%;" src="{% static 'blog/image/BLUE.jpg'%}">
            <h5 >Nahid Hasan</h5>
            <p >nahid15-12395@diu.edu.bd</p>
        </div>
    </div>
</div>

<div style="grid-column: 1/7; background-color: rgb(212, 206, 206);">
    <div style=" text-align: center; padding: 15px;">
        <h3>Do you have any query?</h3>
        <p>Contact us </br>miniblog@gmail.com</p>
    </div>           
</div>

{% endblock content %}




